li {
    list-style: none;
}

.list {
    margin: auto auto;
    width: 500px;
    /* border: 2px solid #ff0000; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 1px 0px 3px 1px;
}

.edit-delete {
    display: flex;
    width: 50px;
    /* background-color: red; */
    justify-content: space-between;
}